@charset "utf-8";
/*css document*/
@font-face {font-family: 'iconfont';
    src: url('font/fontawesome-webfont.eot'); /* IE9*/
    src: url('font/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/fontawesome-webfont.woff') format('woff'), /* chrome、firefox */
    url('font/fontawesome-webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('font/fontawesome-webfont.svg#uxiconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    padding-left: 20px
}
/*head start*/
.head{
    height: 60px;
    line-height: 60px;
    background: #228AC1;
}

.head>h1{
    width: 60px;
    line-height: 60px;
    height: 60px;
    background: url("http://www.elmerlxy.com/team-logo.png");
    font-size: 0;
    background-size: 100% 100%;
    display: block;
    margin-left: 50px;
    float: left;
    cursor: pointer;
}
.pull-right{
    float: right;
}
.pull-left{
    float: left;
}
.clearFix:before{
    content: " ";
    display: table;
}
/*search*/
.search{
    margin-right: 20px;
}
.search input[type="text"]{
    font-family: "微软雅黑";
    width: 188px;
    height: 30px;
    line-height: 30px;
    outline: none;
    border: 0;
    padding-left: 35px;
    border-radius: 20px;
    transition: width .3s linear;
}
.search input[type="text"]:focus{
    width: 288px;
}
.icon-search{
    color: #B9B9B9;
    font-size: 18px;
    position: relative;
    left: 35px;
    top: 1px;
}
/*login*/
.login{
    color: #fff;
    margin-right: 70px;
}
.login>a{
    color: #fff;
    text-decoration: none;
}
.icon-user{
    margin-right: 10px;
}
/*main*/
.main{
    margin: 0 auto;
}
.left-con{
    position: fixed;
    left: 0;
    width: 260px;
    height: 100%;
    background: #2B2E3D;
    color: #68778A;
}
.head-con{
    height: 60px;
    line-height: 60px;
    margin: 0 auto;
    padding:20px 50px;
}

.head-con img{
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #fff;
    padding: 3px;
}
.head-con .name{
    color: #fff;
    font-size: 16px;
    margin-left: 15px;
}
.head-info{
    height: 40px;
    padding: 10px 40px;
}
.head-info div{
    width: 88px;
    text-align: center;
}
.head-info .border-right{
    border-left: 1px solid #fff;
}

.item-list>ul>li{
    margin-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
}
.item-list>ul>li:first-child{
    background: #373D4D;
    padding-top: 15px;
    margin-bottom: 10px;
}
.item-list i{
    margin-right: 10px;
}
.ul-f{
    margin-left: 15px;
}
.ul-f>li{
    padding-bottom: 15px;
}
.ul-f>li:first-child{
    margin-top: 15px ;
}
.last-li{
    padding-bottom: 0!important;
}
.active{
    color: #fff;
}
.not{
    color: #68778A;
}
